
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHotelReservationLabel" data-translate="lowCostTripApp.hotelReservation.home.createOrEditLabel">Create or edit a Hotel Reservation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.hotelReservation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.hotelReservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="lowCostTripApp.hotelReservation.idHotel" for="field_idHotel">Id Hotel</label>
            <input type="text" class="form-control" name="idHotel" id="field_idHotel"
                    ng-model="vm.hotelReservation.idHotel"
                    required />
            <div ng-show="editForm.idHotel.$invalid">
                <p class="help-block"
                    ng-show="editForm.idHotel.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="lowCostTripApp.hotelReservation.checkIn" for="field_checkIn">Check In</label>
                <div class="input-group">
                    <input id="field_checkIn" type="text" class="form-control" name="checkIn" uib-datepicker-popup="{{dateformat}}" ng-model="vm.hotelReservation.checkIn" is-open="vm.datePickerOpenStatus.checkIn"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('checkIn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.checkIn.$invalid">
                <p class="help-block"
                    ng-show="editForm.checkIn.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="lowCostTripApp.hotelReservation.checkOut" for="field_checkOut">Check Out</label>
                <div class="input-group">
                    <input id="field_checkOut" type="text" class="form-control" name="checkOut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.hotelReservation.checkOut" is-open="vm.datePickerOpenStatus.checkOut"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('checkOut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.checkOut.$invalid">
                <p class="help-block"
                    ng-show="editForm.checkOut.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="lowCostTripApp.hotelReservation.pricePerNight" for="field_pricePerNight">Price Per Night</label>
            <input type="number" class="form-control" name="pricePerNight" id="field_pricePerNight"
                    ng-model="vm.hotelReservation.pricePerNight"
                    required />
            <div ng-show="editForm.pricePerNight.$invalid">
                <p class="help-block"
                    ng-show="editForm.pricePerNight.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pricePerNight.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="lowCostTripApp.hotelReservation.coord" for="field_coord">Coord</label>
            <input type="text" class="form-control" name="coord" id="field_coord"
                    ng-model="vm.hotelReservation.coord"
                    required />
            <div ng-show="editForm.coord.$invalid">
                <p class="help-block"
                    ng-show="editForm.coord.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="lowCostTripApp.hotelReservation.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.hotelReservation.user" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
