


<angucomplete-alt id="members"
              placeholder="Search City"
              pause="400"
              selected-object="chooseCity"
              remote-url="http://localhost:8080/api/suggest?cityName="
              remote-url-data-field="results"
              title-field="cityCountry"
              description-field="email"
              image-field="profilePic"
              input-class="form-control form-control-small"/>


<div ng-cloak>

    <div class="row">

     	<div class="col-md-6">


         <div class="panel panel-default" ng-repeat="h in vm.hotels" >
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{h.image}}" alt="{{h.name}}" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>{{h.name}} <span ng-show="h.starRating != 0">{{h.starRating}}<span class="glyphicon glyphicon-star"></span></span></h6>
                            <p style="font-size: 12px;">
                              Price : {{h.price}} <span class="glyphicon glyphicon-euro"></span>
                            </p>
                            <p style="font-size: 12px;"> 
                               <span class="glyphicon glyphicon glyphicon-home"></span> {{h.address}}</br>    
                            </p>
                            <button class="btn btn-primary btn-xs">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Reserve</button>
                        </div>
                    </div>
                </div>
            </div>


   <!--      <div class="col-lg-6 col-sm-6 col-md-6" ng-repeat="h in vm.hotels" style=" min-height: 350px; ">
              <div class="thumbnail" style=" min-height: 350px; ">
                  <img ng-src="{{h.image}}" alt="{{h.name}}">
                  <div class="caption">
                      <strong>{{h.name}}  </strong> <span ng-show="h.starRating != 0">{{h.starRating}}<span class="glyphicon glyphicon-star"></span></span></br>
                      <span class="glyphicon  glyphicon glyphicon-earphone" aria-hidden="true"></span> {{h.price}} <span class="glyphicon glyphicon-euro"></span></br>
                      <span class="glyphicon glyphicon glyphicon-home"></span> {{h.address}}</br>          
                      
                      <a href="#" class="btn btn-primary" role="button">Button</a>
                  </div>
              </div>
          </div> -->
        </div>
  		<div class="col-md-6">
	  		<div id="panel">
				<input id="target" type="text" placeholder="Search Box" style=" display: none; ">
				<button id="button" style=" display: none; ">click</button>
			</div>
			<div id="map-canvas"></div>
		</div>

    </div>
</div>

<style>
 #map-canvas {
     height: 400px;
     width: 500px;
 }

#target {
        width: 345px;
      }

</style>
